.video__vlog {
    border-radius: 20px;
    @include _320px {
        width: 318px;
        height: 200px;
    }
    @include _768px {
        width: 475px;
        height: 270px;

    }
}

.contentWrapper {
    width: 40%;
    color: #000;
    &__descript {
    color: #b68834;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 300;
}
}